name: Workflow Events

on: 
    push:
        branches: ["*"]
    pull_request:
        branches: ["*"]
    schedule:
        - cron: '0 0 * * *'


jobs:
  echo:
    runs-on: ubuntu-latest
    steps: 
       - name: Event name
         run: |
            echo "Event name: ${{ github.event_name }}"

    

